.DS_Store
**/__pycache__/
.ipynb_checkpoints
out_plot/
out_result/
wandb/*
MultiLayerPerceptron/
MultiLayerPerceptron20/
MultiLayerPerceptron40/
MultiLayerPerceptron60/
MultiLayerPerceptronOriginal/
Transformer/
RandomForest/
KNeighbors/
KNeighbors20/
KNeighbors40/
KNeighbors60/
KNeighbors80/
KNeighbors100/
KNeighbors120/
KNeighborsOriginal/
SupportVector/
x.npy
y.npy
circuit_stats.txt
aicircuit/
oceanScriptNew.ocn